*{
    box-sizing: border-box;
}

.gallery img{
    width : 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; /* image fills the container while maintaining aspect ratio*/
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase; /*Transforms text to uppercase*/
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*allow the items to wrap to the next row or column if no space is there*/
    justify-content: center;/*center aligns all of its children horizontally*/
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px; /*sets gaps between images*/
}